<p>Por Region</p>
<hr>
<section class="row">
  <aside class="col text-center">

    <button *ngFor="let region of regions" class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedRegion == region}" (click)="searchByRegion(region)">
      {{region}}
    </button>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </aside>
</section>

<section class="row">
  <aside class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </aside>
</section>
